*{
    margin: 0%;          
    padding: 0%;
   body {background-color: rgb(113, 171, 0);}
 }

.cabecalho{
   background-color: rgb(113, 171, 0);
   color: black;
   padding: 17px 0; }

.cabecalho2{
   display: flex;
   justify-content: space-around; 
   align-items: center; }
              
.cabecalho{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px; }

.texto1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px; }

.texto1{ 
   background-color: rgb(113, 171, 0);
   color: black;
   padding: 24x 0; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font: italic;
   font: bold;
   font-size: 30px; }

.cabecalho3{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px; }
 
.cabecalho4{
   display: flex;
   justify-content: space-around; 
   align-items: center; }

   .Texto2{ 
      background-color: rgb(113, 171, 0);
      color: black;
      padding: 24x 0; 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font: italic;
      font: bold;
      font-size: 30px; }