*{
    margin: 0%;          
    padding: 0%; }

.cabecalho{
   background-color: rgb(145, 203, 241);
   color: black;
   padding: 24px 0; }

.cabecalho2{
   display: flex;
   justify-content: space-around; 
   align-items: center; }
       
.cabecalho_imagem{
   width: 12%; }
            
.cabecalho{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 50px; }

.texto1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px; }

.texto1{ 
   background-color: rgb(145, 203, 241);
   color: black;
   padding: 24x 0; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px; }
 